:root {
  font-family: 'Roboto', 'Segoe UI', system-ui, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --white: #f6f6f6;
  --black: #000;
  --almost-black: #111;
  --main: #f47c3c;

  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

section {
  display: flex;
}

section.strategy {
  /*border-bottom: 1px solid var(--white);*/
  padding: 5px 5px 5px 10px;
  align-items: center;
  gap: 1rem;
  width: calc(100% - 15px);
}

section.total {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

section.total b + span{
  font-size: 1.2em;
}

section.total div {
  display: flex;
  gap: 1rem;
}

section.add-remove {
  /*border-top: 1px solid var(--white);*/
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
button.remove-position {
  border-radius: 0 8px 0 0;
}

.plus {
  flex-grow: 1;
}

.strategy-options {
  flex-grow: 1;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table {
  border-collapse: collapse;
}

th {
  padding: 0 10px;
  text-align: right;
}
th:first-child {
  text-align: left;
}

div.number {
  padding: 0.6em 1.2em;
}

tr {
  padding: 5px;
}
tr.target.last {
  padding-left: 10px;
}

td:nth-child(3) {
  width: 100px;
  text-align: right;
}
td:nth-child(3) {
  position: relative;
}
td:nth-child(3)::after {
  content: '%';
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
td:nth-child(2) {
  text-align: right;
}
td:nth-child(1):not(.title) {
  padding-left: 10px;
  text-align: left;
}
td.title {
  font-weight: 600;
}
td.title input {
  border-radius: 8px 0 0 0;
}
td.title.total {
  text-align: left;
  padding-left: 10px;
}

.positive{
  color: green;
}
.negative{
  color: red;
}

input[type=number] {
  text-align: right;
  width: 65px;
}
input[type=number].percentage {
  width: 45px;
  padding-right: 20px;
}
input[type=radio]{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
input[type=radio] + label {
  width: 100%;
  cursor: pointer;
  display: inline-block;
}
input[type=radio]#strategy-BuySell + label{
  min-width: 75px;
}
input[type=radio]:checked + label {
  background-color: var(--main);
  color: var(--black);
}
input[type=radio]:hover + label,
button:hover {
  border-color: var(--main);
}
input[type=radio]:active + label {
  background-color: var(--white);
}
input,
button,
input[type=radio] + label {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--white);
  background-color: var(--almost-black);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=text] {
  border-radius: 8px 8px 0 0;
  width: calc(100% - 68px);
  padding: 0.6em 10px;
  margin: 0;
}
button {
  border-radius: 0 0 8px 8px;
}